<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Symplifica-menu</title>
  </head>
  <body>
      <article class="col-md-12">
        <label >Menu</label></br>
        <a href="{{path('symplifica_empleador')}}">Creación de empleador</a> </br>
         <a href="{{path('symplifica_empleado')}}">Creación de empleado</a> </br>
          <a href="{{path('symplifica_reporte')}}">Reporte</a>

      </article>
  </body>
</html>