<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Symplifica</title>
	</head>
	<body>
        <div class="col-md-12">
            <label>Menu</label>
            
        </div>
	</body>
</html>