{% extends 'layout.html.twig'%}
{% block title %} Symplifica-Reporte {% endblock%}
  {% block body%}
    <div class="col-md-12">
      <table>
        <thead>
          <th>Nombre empleador</th>
          <th>Cedula empleador</th>
          <th>Dirrecion empleador</th>
          <th>Nombre empleado</th>
          <th>Cedula empleado</th>
          <th>Tipo contra</th>
        </thead>
      </table>
    </div>
  {% endblock%}